<div class="container">
    <div class="row">
        <div class="col-12">
            Space for Header!
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <table class="table">
                <thead>
                  <tr>
                    <th scope="col"></th>
                    <th scope="col">11:00 AM</th>
                    <th scope="col">12:00 PM</th>
                    <th scope="col">01:00 PM</th>
                    <th scope="col">02:00 PM</th>
                    <th scope="col">03:00 PM</th>
                    <th scope="col">04:00 PM</th>
                    <th scope="col">05:00 PM</th>
                    <th scope="col">06:00 PM</th>
                    <th scope="col">07:00 PM</th>
                    <th scope="col">08:00 PM</th>
                    <th scope="col">09:00 PM</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">1</th>
                    <td></td>
                  </tr>
                  <tr>
                    <th scope="row">2</th>
                    <td></td>
                  </tr>
                  <tr>
                    <th scope="row">3</th>
                    <td></td>
                  </tr>
                  <tr>
                    <th scope="row">4</th>
                    <td></td>
                  </tr>
                  <tr>
                    <th scope="row">5</th>
                    <td></td>
                  </tr>
                  <tr>
                    <th scope="row">6</th>
                    <td></td>
                  </tr>
                </tbody>
              </table>
        </div>
    </div>
</div>
